:root {
    --text-color-initial: palevioletred;
    --text-color-final: rgb(86, 177, 175);
}

aside  {
    width: 475px;
    float: right;
}

body {
    padding: 10px;
}

body > *:not(:last-child, :nth-child(4)) {
    margin-bottom: 20px;
}

main { 
    width: 500px;
    clear: left;
    margin-bottom: 10px;
}
nav {
    width: max-content;
    float: left;
    margin: 0 25px;
}

main blockquote {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.azure {
    background-color: #EFF;
}

.shadows {
    box-shadow: 0 0 5px #A8A8A8;
    border: 0.5px solid #A8A8A8;
    padding: 10px 10px;
}

h1 {
    animation: colorChange 1.5s infinite alternate;
    -webkit-animation: colorChange 1.5s infinite alternate;    
}

@keyframes colorChange
{
    from {color: var(--text-color-initial);}
    to {color: var(--text-color-final);}
}

@-webkit-keyframes colorChange
{
    from {color: var(--text-color-initial);}
    to {color: var(--text-color-final);}
}