:root {
    --text-color-initial: palevioletred;
    --text-color-final: rgb(86, 177, 175);
}

aside  {
    width: 29.7em;
    float: right;
}

body {
    padding: 0.625em;
}

body > *:not(:last-child, :nth-child(4)) {
    margin-bottom: 1.25em;
}

main { 
    width: 31.25em;
    clear: left;
    margin-bottom: 0.625em;
}
nav {
    width: max-content;
    float: left;
    margin: 0 1.6em;
}

main blockquote {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.azure {
    background-color: #EFF;
}

.shadows {
    box-shadow: 0 0 0.3em #A8A8A8;
    border: 0.03em solid #A8A8A8;
    padding: 0.625em 0.625em;
}

h1 {
    animation: colorChange 1.5s infinite alternate;
    -webkit-animation: colorChange 1.5s infinite alternate;    
}

@keyframes colorChange
{
    from {color: var(--text-color-initial);}
    to {color: var(--text-color-final);}
}

@-webkit-keyframes colorChange
{
    from {color: var(--text-color-initial);}
    to {color: var(--text-color-final);}
}

/* Phone view */
@media screen and  (max-width: 37.5em){  
    body {
        display: flex;
        flex-direction: column;
    }

    body > * {
        width: auto;
        float: none;
    }
    
    nav {
        margin: 0;
    }

    html {
        font-size: 50%;
    }
}


/* fontsizes */
@media screen and (min-width: 1800px){
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 1800px){
    html {
        font-size: 80%;
    }
}
@media screen and (max-width: 1200px){
    html {
        font-size: 70%;
    }
}
@media screen and (max-width: 900px){
    html {
        font-size: 55%;
    }
}